@model IEnumerable<Game>

@{
    ViewData["Title"] = "View Games";
}

<h5>View Games</h5>

<div class="row mb-1">
    <div class="col"><a asp-action="Create">Create New Game</a></div>
    <div class="col text-right">
        <form asp-action="Index" method="get">
            <input type="text" name="searchTerm" value="@ViewData["SearchTerm"]" placeholder="Filter by player name or opening classification" />
            <input type="submit" value="Filter" />
            @{ if (!string.IsNullOrWhiteSpace(@ViewData["SearchTerm"] as string))
                {
                    <a asp-action="Index">Reset filter</a>
                }
            }
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>White Player</th>
            <th>Black Player</th>
            <th>@Html.DisplayNameFor(model => model.OpeningClassification)</th>
            <th>@Html.DisplayNameFor(model => model.Result)</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var game in Model)
    {
<tr>
    <td scope="row">@game.Date</td>
    <td>@game.WhitePlayer.FirstName @game.WhitePlayer.LastName</td>
    <td>@game.BlackPlayer.FirstName @game.BlackPlayer.LastName</td>
    <td>@game.OpeningClassification</td>
    <td>@EnumHelpers.GetDisplayName(game.Result)</td>
    <td>
        <a asp-action="Edit" asp-route-id="@game.Id">Edit</a> | 
        <a asp-action="Delete" asp-route-id="@game.Id">Delete</a>
    </td>
</tr>
    }
</table>
